{% extends "base.html" %}






{% block body %}


<header style="background-color: #333; color: #fff; padding: 20px;">
    <h1 style="margin: 0;">Pakistan Super League: The Premier Cricketing Extravaganza</h1>
</header>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">Introduction</h2>
    <p>Welcome to the electrifying world of the Pakistan Super League (PSL),...</p>
</section>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">Origins and Format</h2>
    <p>The PSL was established by the Pakistan Cricket Board (PCB)...</p>
</section>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">The Teams</h2>
    <p>Let's take a closer look at the six dynamic teams that make up the PSL:</p>
    <ul style="list-style-type: disc; padding-left: 20px;">
        <li>Islamabad United</li>
        <li>Karachi Kings</li>
        <li>Lahore Qalandars</li>
        <li>Multan Sultans</li>
        <li>Peshawar Zalmi</li>
        <li>Quetta Gladiators</li>
    </ul>
</section>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">Star Players and Exciting Encounters</h2>
    <p>PSL has witnessed some enthralling contests and has seen remarkable performances...</p>
</section>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">Fan Culture and Stadium Atmosphere</h2>
    <p>PSL matches are renowned for their vibrant atmosphere, with fans turning up in droves...</p>
</section>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">Impact on Pakistani Cricket</h2>
    <p>The PSL has been instrumental in rejuvenating cricket in Pakistan...</p>
</section>

<section style="padding: 20px; border-bottom: 1px solid #ccc;">
    <h2 style="color: #333;">Future Prospects</h2>
    <p>The PSL continues to grow and evolve, with each edition surpassing...</p>
</section>

<footer style="background-color: #333; color: #fff; padding: 10px; text-align: center;">
    <p>&copy; 2023 SOHAIB,SHEHRYAR,SUBHAN   . All rights reserved.</p>
</footer>


{% endblock %}
